[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GDILM.ME"]
	path = GDILM.ME
	url = https://github.com/cran/GDILM.ME
[submodule "GDILM.SIR"]
	path = GDILM.SIR
	url = https://github.com/cran/GDILM.SIR
